html, body {
    height: 100%;
}

body{
    background-image: url(../imagens/background-ceu.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--fonteTexto);
    font-size: 62.5%;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 35%) 3fr;
    grid-template-rows: repeat(3, minmax(150x, auto));
    height: 100vh;
}

.container .menu {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .menu .logotipo {
    justify-self: center;
    padding: 50px 0;
}

.container .menu .logotipo h1 {
    text-shadow: 1px 2px 2px var(--corDestaqueLaranja);
    font-family: var(--fonteTitulo);
    font-size: 6em;
    font-weight: 400;
    font-variant: small-caps;
}

.container .menu .navegacao ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.8em;
}

.container .menu .navegacao ul li a{
    transition: 0.3s;
}

.container .menu .navegacao ul li a:hover{
    text-shadow: 1px 2px 2px var(--corDestaqueLaranja);
    font-size: 1.1em;
}